.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor01);
    padding: 30px;
}

.footer > p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-align: center;

}

.footer a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
    color: #fff;
}